Arduino Sketches/Final Project/Node-Red/Cloud_YoAlGirl.json
[
    {
        "id": "6aeb06c3.4c48c8",
        "type": "tab",
        "label": "Yo Al Girl",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fe9f7020.cb258",
        "type": "ibmiot out",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "outputType": "cmd",
        "deviceId": "BoardA",
        "deviceType": "EdgeServer",
        "eventCommandType": "power",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "Thermostat",
        "service": "registered",
        "x": 810,
        "y": 1980,
        "wires": []
    },
    {
        "id": "5f5ccea2.dd6c8",
        "type": "ui_text",
        "z": "6aeb06c3.4c48c8",
        "group": "c22d8d24.1660e",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Food",
        "format": "{{msg.payload.d.food}}",
        "layout": "row-left",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "4389b72d.9eb2d8",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "ButtonClicked",
        "func": "if (msg.payload.d === undefined){\n    return null;\n}else{\n    var tmp = {};\n    tmp.d = {};\n    var b=msg.payload.d.button;\n    if(b === \"clicked\"){\n        tmp.d.food = msg.payload.d.food;\n        tmp.d.type = msg.payload.d.type;\n        tmp.d.timer = msg.payload.d.type;\n    }\n    return {payload:JSON.stringify(tmp)};\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "220ad63e.90103a",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "if(msg.payload === null){\n    \n}else{\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "d90876b7.bda5f8",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "if(msg.payload === null){\n    \n}else{\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "f4e5861f.d9d0b8",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "if(msg.payload === null){\n    \n}else{\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "41cf7a0e.44b2d4",
        "type": "ui_text",
        "z": "6aeb06c3.4c48c8",
        "group": "c7d90766.f70f88",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Food",
        "format": "{{msg.payload.d.food}}",
        "layout": "row-left",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "edf55867.dbf468",
        "type": "ui_text",
        "z": "6aeb06c3.4c48c8",
        "group": "a43ee2e5.fd78a",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Food",
        "format": "{{msg.payload.d.food}}",
        "layout": "row-left",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "72a92315.b5be7c",
        "type": "ui_text",
        "z": "6aeb06c3.4c48c8",
        "group": "56f912f8.02b05c",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Food",
        "format": "{{msg.payload.d.food}}",
        "layout": "row-left",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "62425c11.c736d4",
        "type": "ui_switch",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "c22d8d24.1660e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 930,
        "y": 200,
        "wires": [
            [
                "83b4576f.7463a8"
            ]
        ]
    },
    {
        "id": "d1966807.b372c8",
        "type": "ui_switch",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "c7d90766.f70f88",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 930,
        "y": 260,
        "wires": [
            [
                "93bd72ed.8acec"
            ]
        ]
    },
    {
        "id": "d02c737e.b0c3e",
        "type": "ui_switch",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "a43ee2e5.fd78a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 930,
        "y": 320,
        "wires": [
            [
                "6ed81a.304d27e8"
            ]
        ]
    },
    {
        "id": "a6020d4f.ca2ba",
        "type": "ui_switch",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "56f912f8.02b05c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 930,
        "y": 380,
        "wires": [
            [
                "2b1c6772.73ec68"
            ]
        ]
    },
    {
        "id": "737bf80c.ab47b8",
        "type": "ui_text",
        "z": "6aeb06c3.4c48c8",
        "group": "c22d8d24.1660e",
        "order": 4,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "Ingredients",
        "format": "{{msg.payload.ingredients}}",
        "layout": "col-center",
        "x": 930,
        "y": 540,
        "wires": []
    },
    {
        "id": "8331a461.bde768",
        "type": "ui_text",
        "z": "6aeb06c3.4c48c8",
        "group": "c7d90766.f70f88",
        "order": 4,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "Ingredients",
        "format": "{{msg.payload.ingredients}}",
        "layout": "col-center",
        "x": 930,
        "y": 600,
        "wires": []
    },
    {
        "id": "f8af3292.94b87",
        "type": "ui_text",
        "z": "6aeb06c3.4c48c8",
        "group": "a43ee2e5.fd78a",
        "order": 4,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "Ingredients",
        "format": "{{msg.payload.ingredients}}",
        "layout": "col-center",
        "x": 930,
        "y": 660,
        "wires": []
    },
    {
        "id": "91d3e0c4.490d5",
        "type": "ui_text",
        "z": "6aeb06c3.4c48c8",
        "group": "56f912f8.02b05c",
        "order": 4,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "Ingredients",
        "format": "{{msg.payload.ingredients}}",
        "layout": "col-center",
        "x": 930,
        "y": 720,
        "wires": []
    },
    {
        "id": "c4681194.e772c",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Food1",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "power",
        "format": "json",
        "name": "Food1",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": false,
        "allFormats": true,
        "qos": 0,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "5f5ccea2.dd6c8"
            ]
        ]
    },
    {
        "id": "f22582b7.4658a",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Food2",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "power",
        "format": "json",
        "name": "Food2",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": false,
        "allFormats": false,
        "qos": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "41cf7a0e.44b2d4"
            ]
        ]
    },
    {
        "id": "62549c52.a1ae54",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Food3",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "Food3",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": true,
        "allFormats": "",
        "qos": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "edf55867.dbf468"
            ]
        ]
    },
    {
        "id": "8fa53735.1fa1c8",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Food4",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "Food4",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": true,
        "allFormats": "",
        "qos": 0,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "72a92315.b5be7c"
            ]
        ]
    },
    {
        "id": "fa345ee1.16081",
        "type": "debug",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "8fea8124.f0de1",
        "type": "ibmiot out",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "outputType": "cmd",
        "deviceId": "Food1",
        "deviceType": "EdgeServer",
        "eventCommandType": "power",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "679d50.6e9a12b",
        "type": "inject",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "8fea8124.f0de1"
            ]
        ]
    },
    {
        "id": "9129981a.ae80f8",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Power1",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "power",
        "format": "json",
        "name": "Power1",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": false,
        "allFormats": false,
        "qos": 0,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "d2f8d05f.5d15a"
            ]
        ]
    },
    {
        "id": "53997bc4.a22aa4",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Power2",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "power",
        "format": "json",
        "name": "Power2",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": false,
        "allFormats": false,
        "qos": 0,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "d1966807.b372c8"
            ]
        ]
    },
    {
        "id": "3418bfee.1c623",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Power3",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "Power3",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": true,
        "allFormats": "",
        "qos": 0,
        "x": 650,
        "y": 320,
        "wires": [
            [
                "299e9639.c5727a"
            ]
        ]
    },
    {
        "id": "b57987a6.3b66f8",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Power4",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "Power4",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": true,
        "allFormats": "",
        "qos": 0,
        "x": 650,
        "y": 380,
        "wires": [
            [
                "81030021.2488e"
            ]
        ]
    },
    {
        "id": "6645829d.a0527c",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Ing1",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "power",
        "format": "json",
        "name": "Ing1",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": false,
        "allFormats": false,
        "qos": 0,
        "x": 770,
        "y": 540,
        "wires": [
            [
                "737bf80c.ab47b8",
                "fa345ee1.16081"
            ]
        ]
    },
    {
        "id": "b47d386f.044e28",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Ing2",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "power",
        "format": "json",
        "name": "Ing2",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": false,
        "allFormats": false,
        "qos": 0,
        "x": 770,
        "y": 600,
        "wires": [
            [
                "8331a461.bde768"
            ]
        ]
    },
    {
        "id": "40ab6dc5.ffa854",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Ing3",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "power",
        "format": "json",
        "name": "Ing3",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": false,
        "allFormats": false,
        "qos": 0,
        "x": 770,
        "y": 660,
        "wires": [
            [
                "f8af3292.94b87"
            ]
        ]
    },
    {
        "id": "f3053a0f.b32678",
        "type": "ibmiot in",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Ing4",
        "applicationId": "",
        "deviceType": "EdgeServer",
        "eventType": "+",
        "commandType": "power",
        "format": "json",
        "name": "Ing4",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": false,
        "allFormats": false,
        "qos": 0,
        "x": 770,
        "y": 720,
        "wires": [
            [
                "91d3e0c4.490d5"
            ]
        ]
    },
    {
        "id": "d2f8d05f.5d15a",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "var evt1 = {};\nevt1 = msg.payload.d.power;\nmsg.payload = evt1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 200,
        "wires": [
            [
                "62425c11.c736d4"
            ]
        ]
    },
    {
        "id": "b8cf1b48.f606f8",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "var evt1 = {};\nevt1 = msg.payload.d.power;\nmsg.payload = evt1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "299e9639.c5727a",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "var evt1 = {};\nevt1 = msg.payload.d.power;\nmsg.payload = evt1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 320,
        "wires": [
            [
                "d02c737e.b0c3e"
            ]
        ]
    },
    {
        "id": "81030021.2488e",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "var evt1 = {};\nevt1 = msg.payload.d.power;\nmsg.payload = evt1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "a6020d4f.ca2ba"
            ]
        ]
    },
    {
        "id": "de6a2345.28b72",
        "type": "debug",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1130,
        "y": 140,
        "wires": []
    },
    {
        "id": "83b4576f.7463a8",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "var evt1 = {};\nevt1.d = {};\nevt1.d.power1=msg.payload;\nif(msg.payload == \"on\"){\n    evt1.d.timer1=300;\n}\nreturn {payload:JSON.stringify(evt1)};",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 200,
        "wires": [
            [
                "de6a2345.28b72",
                "f947e385.565cd"
            ]
        ]
    },
    {
        "id": "93bd72ed.8acec",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "var evt1 = {};\nevt1.d = {};\nevt1.d.power2=msg.payload;\nif(msg.payload == \"on\"){\n    evt1.d.timer2=300;\n}\nreturn {payload:JSON.stringify(evt1)};",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "dccd8a09.b5a518"
            ]
        ]
    },
    {
        "id": "6ed81a.304d27e8",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "var evt1 = {};\nevt1.d = {};\nevt1.d.power3=msg.payload;\nif(msg.payload == \"on\"){\n    evt1.d.timer3=300;\n}\nreturn {payload:JSON.stringify(evt1)};",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 320,
        "wires": [
            [
                "89b7faf0.456668"
            ]
        ]
    },
    {
        "id": "2b1c6772.73ec68",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "func": "var evt1 = {};\nevt1.d = {};\nevt1.d.power4=msg.payload;\nif(msg.payload == \"on\"){\n    evt1.d.timer4=300;\n}\nreturn {payload:JSON.stringify(evt1)};",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 380,
        "wires": [
            [
                "415cc5d5.ac782c"
            ]
        ]
    },
    {
        "id": "f947e385.565cd",
        "type": "ibmiot out",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "outputType": "cmd",
        "deviceId": "BoardB",
        "deviceType": "EdgeServer",
        "eventCommandType": "power",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "BoardB",
        "service": "registered",
        "x": 1300,
        "y": 200,
        "wires": []
    },
    {
        "id": "dccd8a09.b5a518",
        "type": "ibmiot out",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "outputType": "cmd",
        "deviceId": "BoardB",
        "deviceType": "EdgeServer",
        "eventCommandType": "power",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "BoardB",
        "service": "registered",
        "x": 1300,
        "y": 260,
        "wires": []
    },
    {
        "id": "89b7faf0.456668",
        "type": "ibmiot out",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "outputType": "cmd",
        "deviceId": "BoardB",
        "deviceType": "EdgeServer",
        "eventCommandType": "power",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "BoardB",
        "service": "registered",
        "x": 1300,
        "y": 320,
        "wires": []
    },
    {
        "id": "415cc5d5.ac782c",
        "type": "ibmiot out",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "outputType": "cmd",
        "deviceId": "BoardB",
        "deviceType": "EdgeServer",
        "eventCommandType": "power",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "BoardB",
        "service": "registered",
        "x": 1300,
        "y": 380,
        "wires": []
    },
    {
        "id": "70743c43.4f7f44",
        "type": "http in",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "url": "/yoalgirl",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 860,
        "wires": [
            [
                "b769782.f9df788",
                "227d86b3.dba45a",
                "debc21ef.8f8c8",
                "6c8f2b21.315524",
                "fa3d4a25.6830c8"
            ]
        ]
    },
    {
        "id": "b769782.f9df788",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "induction1",
        "func": "if(msg.payload.induction1 === undefined){\n    return null;\n}\n\nif(msg.payload.induction1 == \"ON\"){\n    msg.payload = \"on\";\n}else{\n    msg.payload = \"off\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 940,
        "wires": [
            [
                "b1d66607.adffb8"
            ]
        ]
    },
    {
        "id": "227d86b3.dba45a",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "induction2",
        "func": "if(msg.payload.induction2 === undefined){\n    return null;\n}\n\nif(msg.payload.induction2 == \"ON\"){\n    msg.payload = \"on\";\n}else{\n    msg.payload = \"off\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "a12ae7d5.e2b168"
            ]
        ]
    },
    {
        "id": "debc21ef.8f8c8",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "induction3",
        "func": "if(msg.payload.induction3 === undefined){\n    return null;\n}\n\nif(msg.payload.induction3 == \"ON\"){\n    msg.payload = \"on\";\n}else{\n    msg.payload = \"off\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1060,
        "wires": [
            [
                "aa3fb175.dc323"
            ]
        ]
    },
    {
        "id": "6c8f2b21.315524",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "induction4",
        "func": "if(msg.payload.induction4=== undefined){\n    return null;\n}\n\nif(msg.payload.induction4 == \"ON\"){\n    msg.payload = \"on\";\n}else{\n    msg.payload = \"off\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "f7a973f9.80988"
            ]
        ]
    },
    {
        "id": "fa3d4a25.6830c8",
        "type": "debug",
        "z": "6aeb06c3.4c48c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 860,
        "wires": []
    },
    {
        "id": "b1d66607.adffb8",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "Stringify1",
        "func": "var evt1 = {};\nevt1.d = {};\nevt1.d.power1=msg.payload;\nif(msg.payload == \"on\"){\n    evt1.d.timer1=300;\n}\nreturn {payload:JSON.stringify(evt1)};",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 940,
        "wires": [
            [
                "177d8496.bf544b"
            ]
        ]
    },
    {
        "id": "a12ae7d5.e2b168",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "Stringify2",
        "func": "var evt1 = {};\nevt1.d = {};\nevt1.d.power2=msg.payload;\nif(msg.payload == \"on\"){\n    evt1.d.timer2=300;\n}\nreturn {payload:JSON.stringify(evt1)};",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1000,
        "wires": [
            [
                "177d8496.bf544b"
            ]
        ]
    },
    {
        "id": "aa3fb175.dc323",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "Stringify3",
        "func": "var evt1 = {};\nevt1.d = {};\nif(msg.payload == \"on\"){\n    evt1.d.timer3=300;\n}\nreturn {payload:JSON.stringify(evt1)};",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1060,
        "wires": [
            [
                "177d8496.bf544b"
            ]
        ]
    },
    {
        "id": "f7a973f9.80988",
        "type": "function",
        "z": "6aeb06c3.4c48c8",
        "name": "Stringify4",
        "func": "var evt1 = {};\nevt1.d = {};\nif(msg.payload == \"on\"){\n    evt1.d.timer4=300;\n}\nreturn {payload:JSON.stringify(evt1)};",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1120,
        "wires": [
            [
                "177d8496.bf544b"
            ]
        ]
    },
    {
        "id": "177d8496.bf544b",
        "type": "ibmiot out",
        "z": "6aeb06c3.4c48c8",
        "authentication": "apiKey",
        "apiKey": "f065c0ce.51ba8",
        "outputType": "cmd",
        "deviceId": "BoardB",
        "deviceType": "EdgeServer",
        "eventCommandType": "power",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "BoardB",
        "service": "registered",
        "x": 900,
        "y": 860,
        "wires": []
    },
    {
        "id": "f065c0ce.51ba8",
        "type": "ibmiot",
        "z": "",
        "name": "midTerm",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "c22d8d24.1660e",
        "type": "ui_group",
        "z": "",
        "name": "Yo Al girl1",
        "tab": "efe0508e.a54f2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c7d90766.f70f88",
        "type": "ui_group",
        "z": "",
        "name": "Yo Al Girl2",
        "tab": "884a4373.e02a5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a43ee2e5.fd78a",
        "type": "ui_group",
        "z": "",
        "name": "Yo Al girl3",
        "tab": "cc2bbb99.55a848",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "56f912f8.02b05c",
        "type": "ui_group",
        "z": "",
        "name": "Yo Al girl4",
        "tab": "7257c7a0.85fa88",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "efe0508e.a54f2",
        "type": "ui_tab",
        "z": "",
        "name": "Yo Al Girl",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "884a4373.e02a5",
        "type": "ui_tab",
        "z": "",
        "name": "Yo Al girl2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cc2bbb99.55a848",
        "type": "ui_tab",
        "z": "",
        "name": "Yo Al girl3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7257c7a0.85fa88",
        "type": "ui_tab",
        "z": "",
        "name": "Yo Al girl4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]